/* variables y estilos base */
:root {
  --main-color: #2E4172;
  --secondary-color: #6978A0;
  --aux-color1: #0B1B45;
  --aux-color2: #010717;
  --text-color: #C9CFDE;
}

html,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 18px;
}

/* Header */
header {
  background-color: #6978A0;
  width: 100%;
  height: 60px;
}

ul {
  margin: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 20px;

}

ul li a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: #C9CFDE;
}

ul li a:hover,
nav li.active a {
  border-bottom: 2px solid #C9CFDE;
}

/* Hero */
.hero {
  background-color: var(--main-color);
}

.hero p {
  margin: 0;
  padding: 30px;
  text-align: center;
  color: var(--text-color);
  font-size: 50px;
}

.hero figure {
  text-align: center;
}

.hero img {
  border-radius: 50%;
  padding: 30px;
}

/* Main */
.main .container {
  background-color: var(--secondary-color);
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  color: var(--text-color);
}

.main .container #autor {
  margin-top: 0;
}

/*Footer*/
footer {
  background-color: var(--main-color);
  height: 40px;
}

footer p {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: var(--text-color);
}

footer p a {
  text-decoration: none;
  color: var(--text-color);
}

footer p a:hover {
  color: #010717;
}
